.wrapper {
  height: 40%;
  width: 100%;
  background-color: #cae3b1;
  display: flex;
  justify-content: space-around;
  padding: 30px 0;
  //   align-items: center;
}
.icon {
  // flex: 1;
  width: 15vw;
  margin: 15px;
  align-self: flex-end;
}

.contentWrapper {
  display: flex;
  width: 55%;
  flex-direction: column;
}

.bubblesWrapper {
  text-align: center;
  color: #424d37;
  text-decoration: none;
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.bubble {
  border-radius: 50px;
  width: 6rem;
  height: 6rem;
  padding: 0;
  img {
    border: 2px solid white;
    border-radius: 100px;
    padding: 4px;
  }
}

.treatmentWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media only screen and (max-width: 1300px) {
  .contentWrapper {
    width: 75%;
  }
  .icon {
    width: 12vw;
  }
}

@media only screen and (max-width: 1000px) {
  .contentWrapper {
    width: 70%;
  }
  .treatmentWrapper {
    flex-direction: column;
    img {
      border: 0;
      border-radius: initial;
      padding: 0;
    }
  }
  .bubble {
    border-radius: 0;
    width: 100%;
    height: 100%;
    margin: 30px;
  }
  .icon {
    display: none;
  }
}
