.wrapper {
  height: 40%;
  width: 100%;
  background-color: #cae3b1;
  display: flex;
  justify-content: space-around;
  padding: 30px 20px;
  //   align-items: center;
}
.icon {
  flex: 1;
  height: 15vw;
  min-height: 220px;
  min-width: 220px;
  align-self: center;
}

.contentWrapper {
  display: flex;
  width: 50%;
  flex-direction: column;
  overflow: hidden;
}

.content {
  display: flex;
  margin: 0 auto;
  height: 100%;
  justify-content: space-around;
  //   overflow: hidden;
  flex: 2;
  flex-wrap: wrap;
  padding: 0 20px;
}
.bubblesWrapper {
  text-align: center;
  color: #424d37;
  text-decoration: none;
  //   flex: 1 1 auto;
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.bubble {
  border-radius: 50px;
  width: 6rem;
  height: 6rem;
  padding: 0;
}

@media only screen and (max-width: 800px) {
  .contentWrapper {
    width: 75%;
  }
  .bubble {
    border-radius: 0;
    width: 100%;
    height: 100%;
    margin: 30px;
  }
  .icon {
    display: none;
  }
}
