.blockWrapper {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
}

.test {
  white-space: pre-wrap;
}
@media only screen and (max-width: 800px) {
  .blockWrapper {
    row-gap: 0;
  }
  .headline {
    text-align: center;
    // global value
    margin: 0 10%;
    margin-bottom: 50px !important;
  }
}
