.wrapper {
  margin-bottom: calc(5px + 2vw);
}

.text {
  // display: flex;
  display: grid;
  grid-template-columns: 1fr 10fr;
  align-items: flex-end;
  // flex: 5;
  img {
    // margin-left: calc(10px + 3vw);
    align-self: center;
    width: 70%;
  }
}
