$green: #9fc975;
// $darkGreen:

.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 40%;
  a {
    color: #555556;
    font-size: 1.2rem;
  }
  .icon {
    span {
      color: $green;
    }
  }

  .dropDown {
    .hiddenDropDown {
      display: none;
    }

    &:hover {
      border-bottom: 1px $green solid;
    }
    &:hover > * {
      span {
        font-size: 20px;
        color: white;
        z-index: 1100;
        cursor: pointer;
        &:hover {
          font-weight: 600;
          border-bottom: 1px white solid;
        }
      }
      display: block;
      bottom: 72%;
      position: absolute;
      display: flex;
      margin-top: -10px;
      flex-direction: column;
      padding: 1rem 1.3rem 1.5rem;
      background-color: $green;
      z-index: 1000;
    }
  }
}

@media only screen and (max-width: 800px) {
  .icon {
    display: none;
  }
}
