$green: #9fc975;

.desktopNav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 40px 0;
  a {
    color: #555556;
    font-size: calc(0.8rem + 0.6vw);
  }

  .icon {
    span {
      color: $green;
    }
  }

  .dropDown {
    position: relative;
    .hiddenDropDown {
      display: none;
    }
    &:hover {
      border-bottom: 1px $green solid;
    }
    &:hover > * {
      margin-top: 5px;
      display: block;
      position: absolute;
      display: flex;
      flex-direction: column;
      padding: 1rem 1.3rem 1.5rem;
      background-color: $green;
      z-index: 1000;
      width: 360%;
    }
  }
}

.styledSpan {
  color: white;
  margin: 1rem 0;
  cursor: pointer;
  &:hover {
    font-weight: 600;
    border-bottom: 1px white solid;
  }
}

.mobileWrapper {
  display: none;
}

@media only screen and (max-width: 799px) {
  .desktopNav {
    display: none;
  }
  .mobileWrapper {
    display: block;
  }

  .mobileMenu {
    display: flex;
    flex-direction: column;
    background-color: #9fc975;
    height: 100vh;
    padding-top: 10rem;
    width: 80vw;
    position: fixed;
    align-items: flex-start;
    top: 0;
    right: 0;
    z-index: 9;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
    &[data-showMenu="true"] {
      transform: translateX(0);
      overflow: scroll;
    }
    & > * {
      margin: 20px 0;
      width: 100%;
      text-transform: uppercase;
      text-decoration: none;
      transition: color 0.3s linear;
      color: white;

      &:hover {
        background-color: white;
        & > * {
          color: #9fc975;
        }
      }
    }
  }

  .styledSpan {
    margin-right: 5rem;
    font-size: 1.2rem;
  }

  .icon {
    flex-direction: row-reverse;
    span {
      color: $green;
      font-size: 1.6rem;
    }
  }

  .mobileWrapper {
    width: 100%;
    position: relative;
  }

  .mobileDropDown {
    display: none;
    &[data-click="true"] {
      display: flex;
      flex-direction: column;
      background-color: #90b76a;
      color: blue;
      padding: 1rem 0;
      padding-right: 4rem;
    }
    & > * {
      margin: 1rem 0;
    }
  }
  .wrapper {
    width: 100%;
  }

  .mobileLogo {
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
    padding: 15px 0;
  }
  .mobileNumber {
    height: 100px;
    z-index: 2;
    display: flex;
    justify-content: center;
  }
}
