.section {
  display: flex;
  position: relative;
  justify-self: center;

  .wrapper {
    display: flex;
    flex-direction: column;
    // margin: 0 auto;
    width: 80%;
    height: 50%;
    padding: 60px 0;
  }
  .headline {
    font-size: 3rem;
    margin: 60px 0;
  }

  .content {
    display: flex;
  }

  .img {
    object-fit: cover;
    flex: 2;
  }
  .text {
    flex: 4;
    padding-right: 50px;
    width: 60%;
  }
}

@media only screen and (max-width: 2000px) {
  .section {
    .wrapper {
      width: 90%;
    }
    .text {
      p {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .section {
    .img {
      flex: 3;
    }
  }
}

@media only screen and (max-width: 1000px) {
  // .section {
  //   padding: 0 !important;
  // }
}

@media only screen and (max-width: 900px) {
  .section {
    .wrapper {
      width: 100%;
    }
    .content {
      flex-direction: column;
      align-items: center;
    }
    .img {
      width: 60vw;
      object-fit: contain;
    }
    .text {
      padding-top: 20px;
      padding-right: 0;
      width: 85%;
      p {
        // text-align: center;
        width: 100%;
      }
    }
  }
}
