.section {
  display: flex;
  position: relative;
  justify-self: center;
  // max-height: 600px;

  .wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
    height: 50%;
    padding: 20px 0;
  }
  .headline {
    font-size: 3rem;
    margin: 60px 0;
  }

  .content {
    display: flex;
  }

  .img {
    object-fit: cover;
    height: calc(200px + 13vw);
  }
  .text {
    flex: 4;
    padding-right: 20px;
  }
  p {
    font-size: calc(0.8rem + 0.5vw);
    line-height: calc(1.1em + 0.5vw);
    width: 90%;
  }
}

@media only screen and (max-width: 1400px) {
  .wrapper {
    width: 90%;
  }
}

@media only screen and (max-width: 1200px) {
  .background {
    width: 550px;
    height: 350px;
  }
}

@media only screen and (max-width: 1000px) {
  .wrapper {
    padding: 0;
    margin: 0;
  }
}

@media only screen and (max-width: 800px) {
  .section {
    .content {
      flex-direction: column;
    }
    .img {
      object-fit: contain;
    }
    .text {
      padding-top: 20px;
      padding-right: 0;
      p {
        text-align: center;
        width: 100%;
      }
    }
  }
}
