.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 30vh;
}

.contentWrapper {
  display: flex;
  height: 100%;
  width: 60%;
}
.content {
  display: flex;
  flex-direction: column;
  margin: 60px 0;
  //   align-items: center;
  width: 80%;
  //   text-align: center;
  p {
    color: #555556;
  }
}

.button {
  width: 80%;
  max-width: 300px;
}

@media only screen and (max-width: 1300px) {
  .contentWrapper {
    width: 75%;
  }
}
@media only screen and (max-width: 1200px) {
  .wrapper {
    opacity: 0.6;
    background-position-x: -450px;
  }
}

@media only screen and (max-width: 1100px) {
  .contentWrapper {
    width: 95%;
  }
}

@media only screen and (max-width: 800px) {
  .contentWrapper {
    height: 70vh;
    background-position-y: -250px;
  }
  .wrapper {
    margin: 50 auto;
    .content {
      width: 90%;
      margin: 80px auto;
      align-items: center;
      text-align: center;
    }
  }
}
