.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  // height: 30vh;
  position: relative;
}
.imageWrapper {
  width: 100%;
  margin-left: 50px;
}

.contentWrapper {
  display: flex;
  height: 100%;
  justify-content: center;
}
.content {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  margin-bottom: 30px;
  width: 80%;
  p {
    color: #555556;
  }
}

.button {
  width: 80%;
  max-width: 300px;
}

// @media only screen and (max-width: 1300px) {
//   .contentWrapper {
//     width: 75%;
//   }
// }
// @media only screen and (max-width: 1200px) {
//   .wrapper {
//     // opacity: 0.6;
//     background-position-x: -450px;
//   }
// }

@media only screen and (max-width: 1000px) {
  .contentWrapper {
    width: 95%;
  }
}

@media only screen and (max-width: 800px) {
  .imageWrapper {
    margin: 0;
  }
  .wrapper {
    flex-direction: column;
    align-items: center;

    .content {
      width: 90%;
      margin: 0 auto;
      margin-top: 80px;
      align-items: center;
      text-align: center;
    }
  }
}
