$sectionPadding: 100px;
$listItemSize: calc(5px + 3vh);
//https://css-tricks.com/full-width-containers-limited-width-parent/
.section {
  position: relative;
  padding-bottom: calc(#{$sectionPadding} - #{$listItemSize});
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

.wrapper {
  padding-top: $sectionPadding;
  width: 52%;
  margin: 0 auto;
  margin-bottom: 150px;
}

ol {
  list-style: none;
  counter-reset: my-awesome-counter;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  li {
    counter-increment: my-awesome-counter;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    &::before {
      background-color: #ebf1e6;
      height: 100px;
      width: 100px;
      min-width: 100px;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #85b240;
      font-size: 2rem;
      content: counter(my-awesome-counter);
      margin: 20px;
      //   margin-right: 22px;
    }
  }
}

.numWrapper {
  background-color: #ebf1e6;
  height: 80px;
  width: 80px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #85b240;
  font-size: 2rem;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  height: calc(100% - #{$sectionPadding});
  z-index: -999;
  background-color: #f8f9f6;
  left: 0;
  right: 0;
}
.listItem {
  display: flex;
  font-size: 10px;
  margin-bottom: $listItemSize;
  span {
    font-weight: 600;
  }
  img {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 800px) {
  .wrapper {
    margin: 0 auto;
    margin-bottom: 200px;
  }
  ol {
    flex-direction: column;
    align-items: center;
    li {
      flex-direction: column;
      text-align: center;
    }
  }
}
