.wrapper {
  padding: 0 100px;
}

.img {
  //   width: 20%;
  //   height: 20 0px;
  flex: 1;
  margin-left: calc(10px + 3vw);
  align-self: center;
  align-self: baseline;
}

.contentWrapper {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  p {
    flex: 6;
    align-self: center;
  }
}

@media only screen and (max-width: 1100px) {
  .img {
    flex: 3;
  }
}

@media only screen and (max-width: 800px) {
  .img {
    margin-left: 0;

    width: 100%;
    margin-bottom: calc(10px + 3vw);
  }
  .contentWrapper {
    justify-content: center;
    flex-direction: column;
  }
}
