.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.contentWrapper {
  display: flex;
  height: 100%;
  width: 60%;
}
.content {
  display: flex;
  flex-direction: column;
  margin: 60px 0;
  align-items: center;
  width: 40%;
  text-align: center;
}

.button {
  width: 80%;
}

@media only screen and (max-width: 1300px) {
  .contentWrapper {
    width: 75%;
  }
}

@media only screen and (max-width: 1100px) {
  .contentWrapper {
    width: 95%;
  }
}

@media only screen and (max-width: 800px) {
  .contentWrapper {
    height: 100vw;
  }
  .wrapper {
    // height: 90vh;
    margin: 0 auto;
    .content {
      width: 55%;
      margin: 50px auto;
    }
  }
}

@media only screen and (max-width: 600px) {
  .contentWrapper {
    height: 80vh;
  }
}
