$sectionPadding: 100px;
$listItemSize: calc(5px + 3vh);
//https://css-tricks.com/full-width-containers-limited-width-parents/
.section {
  position: relative;
  padding-top: $sectionPadding;
  padding-bottom: calc(#{$sectionPadding} - #{$listItemSize});
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

.wrapper {
  width: 70%;
  margin: calc(20px + 7vh) auto;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  height: calc(100% - #{$sectionPadding});
  z-index: -999;
  background-color: #f8f9f6;
  left: 0;
  right: 0;
}
.listItem {
  display: flex;
  font-size: 10px;
  margin-bottom: $listItemSize;
  span {
    font-weight: 600;
  }
  img {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 800px) {
  .section {
    padding: 0;
  }

  .background {
    height: 110%;
  }

  .wrapper {
    padding-top: $sectionPadding;

    width: 80%;
    margin: 0 auto;
  }
  .listContainer {
    padding: 0;
  }
}
