.section {
  width: 100%;
  background-color: #97bb74;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: right;
}

.wrapper {
  width: 50%;
}
.form {
  display: flex;
  margin-left: -5px;
  & > * {
    margin-left: 5px;
  }
}
