.section {
  width: 100%;
  background-color: #97bb74;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: right;
}

.wrapper {
  width: 50%;
}
.form {
  display: flex;
  margin-left: -10px;
  & > * {
    margin-left: 10px;
  }
  .input {
    flex: 1;
    &::placeholder {
      opacity: 1 !important;
    }
  }
  .formButton {
    flex: 1;
    min-width: 170px;
  }
}

@media only screen and (max-width: 1100px) {
  .wrapper {
    width: auto;
  }
}

@media only screen and (max-width: 800px) {
  .section {
    height: 50vh;
  }
  .wrapper {
    width: 70%;
  }
  .form {
    margin-bottom: -20px;
    & > * {
      margin-bottom: 20px;
      margin-left: 0;
    }
    flex-direction: column;
    .input {
      flex: auto;
    }
  }
}
