.section {
  height: calc(52vw * (9 / 16));
  min-height: 400px;
  display: flex;
  justify-content: flex-start;
  padding: 0 100px;

  .img {
    height: 100%;
    margin-left: 20px;
    width: 30%;
    img {
      height: 100%;
      opacity: 1 !important;
    }
  }

  .wrapper {
    width: 40%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 20px;
  }
  .textWrapper {
    width: 60%;
    height: 100%;
  }
  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
}

@media only screen and (max-width: 2050px) {
  .section {
    height: calc(60vw * (9 / 16));
    padding: 0 40px;
    .text {
      margin: 0;
    }
    .img {
      width: 35%;
    }
  }
}

@media only screen and (max-width: 1750px) {
  .section {
    height: calc(65vw * (9 / 16));
    padding: 0 20px;
    .text {
      margin: 0;
    }
    .img {
      width: 30%;
    }
  }
}

@media only screen and (max-width: 1550px) {
  .section {
    height: calc(80vw * (9 / 16));
    .text {
      margin: 0;
    }
    .img {
      width: 40%;
    }
  }
}

@media only screen and (max-width: 1350px) {
  .section {
    height: calc(85vw * (9 / 16));
    .text {
      margin: 0;
    }
  }
}

@media only screen and (max-width: 1300px) {
  .section {
    padding: 0;
    height: auto;
    flex-direction: column;
    align-items: center;
    .coloredHeadline {
      display: block;
      font-size: 1px;
    }
    .textWrapper {
      padding: 2rem 20px;
      background-color: #ebf1e6;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 600px) {
  .section {
    min-height: auto;

    .img {
      display: none;
    }
    .textWrapper {
      padding: 4rem 20px;
    }
  }
}
