.section {
  height: calc(52vw * (9 / 16));
  min-height: 400px;
  display: flex;
  justify-content: flex-start;
  padding: 0 100px;

  .img {
    height: 100%;
    margin-left: 20px;
    width: 30%;
    img {
      height: 100%;
      opacity: 1 !important;
    }
  }
  // change this to be global
  // p {
  //   font-size: calc(0.8rem + 0.5vw);
  //   line-height: calc(1.1em + 0.5vw);
  // }

  .wrapper {
    width: 40%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 20px;
  }
  .textWrapper {
    width: 60%;
    height: 100%;
  }
  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
}

@media only screen and (max-width: 1450px) {
  .section {
    height: calc(70vw * (9 / 16));

    padding: 0 20px;
    .img {
      width: 35%;
    }
  }
}

@media only screen and (max-width: 1100px) {
  .section {
    height: calc(85vw * (9 / 16));
    .img {
      width: 45%;
    }
  }
  .coloredHeadline {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  .section {
    padding: 0;
    height: auto;
    flex-direction: column;
    align-items: center;
    .coloredHeadline {
      display: block;
      font-size: 1px;
    }
    .textWrapper {
      padding: 2rem 20px;
      background-color: #ebf1e6;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 800px) {
  .section {
    min-height: auto;

    .img {
      display: none;
    }
    .textWrapper {
      padding: 4rem 20px;
    }
  }
}
