// @import "../../../../layout//global.scss";
// @import "mobilMainWidth";
.wrapper {
  // change to mobilMainWidth varible
  margin: 0 5%;
  margin-bottom: calc(5px + 2vw);
}

.text {
  display: flex;
  align-items: flex-end;
  flex: 5;
  img {
    margin: 0 calc(10px + 3vw);
    align-self: center;
  }
}

@media only screen and (max-width: 800px) {
  .text {
    img {
      margin: 40px 0;
    }
  }
}
