.wrapper {
  margin-bottom: calc(5px + 2vw);
}

.text {
  display: flex;
  align-items: flex-end;
  flex: 5;
  img {
    margin: 0 calc(10px + 3vw);
    align-self: center;
  }
}

@media only screen and (max-width: 800px) {
  .text {
    flex-direction: column-reverse !important;

    img {
      margin: 20px 0;
    }
  }
}
