.section {
  display: flex;
  position: relative;
  justify-self: center;
  flex-direction: column;
  // min-height: 600px;

  .wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
    padding: 20px;
  }
  .headline {
    margin: 60px 0;
  }

  .content {
    display: flex;
  }

  .img {
    flex: 1;
    height: calc(200px + 13vw);
    margin-top: 20px;
  }
  .text {
    padding-right: 20px;
    flex: 2;
    padding-left: 200px;
  }
  p {
    font-size: calc(1rem + 0.5vw);
    line-height: calc(1.5em + 0.5vw);
    width: 60%;
  }
}

.backgroundWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  z-index: -999;
}
.background {
  z-index: -999;
  position: absolute;
  width: 650px;
  height: 450px;
}

.button {
  max-width: 300px;
  width: 70%;
}

@media only screen and (max-width: 1400px) {
  .wrapper {
    width: 90%;
  }
}

@media only screen and (max-width: 1200px) {
  // .headline {
  //   text-align: center;
  // }
  .background {
    width: 550px;
    height: 350px;
  }
  .text {
    padding-left: 100px;
    p {
      width: 80%;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .wrapper {
    padding: 0;
    margin: 0;
  }
  .text {
    padding-left: 0px !important;
    padding: 0;
  }
  .background {
    z-index: -999;
    position: absolute;
    width: 300px;
    height: 300px;
  }
}

@media only screen and (max-width: 800px) {
  .section {
    .content {
      flex-direction: column;
    }
    .wrapper {
      padding: 0;
    }
    .headline {
      text-align: center;
    }
    .text {
      flex: 1;
      p {
        width: 100%;
        margin-bottom: 20px;
      }
      .button {
        width: 100%;
        max-width: none;
      }
    }

    .img {
      width: 60vw;
      margin: 3rem auto;
    }
  }
  .backgroundWrapper {
    z-index: -999;
    position: relative;
    width: 100%;
  }
  .background {
    margin-top: -110px;
    width: 100%;
    height: 400px;
  }
}
