.section {
  display: flex;
  position: relative;
  justify-self: center;
  height: 35vw;
  min-height: 500px;

  img {
    max-width: 300px;
    max-height: 300px;
    margin-left: 40px;
  }
  p {
    font-size: calc(0.8rem + 0.5vw);
    line-height: calc(1.1em + 0.5vw);
  }
}

.button {
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  margin: 0 auto;
  width: 30%;
}
.content {
  display: flex;
  //   width: 50%;
  .text {
    // width: 30%;
  }
}

.backgroundWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  z-index: -999;
}
.background {
  z-index: -999;
  position: absolute;
  width: 650px;
  height: 450px;
}

@media only screen and (max-width: 1400px) {
  .wrapper {
    width: 90%;
  }
  .content {
    width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .background {
    width: 450px;
    height: 250px;
  }
}

@media only screen and (max-width: 1000px) {
  .background {
    width: 300px;
    height: 250px;
  }
}
