* {
  direction: rtl;
  box-sizing: border-box;
  font-family: hebrew;
  // font-family: "Assistant", sans-serif;
  line-height: 24px;
  margin: 0;
}
main {
  width: 70%;
  margin: 0 auto;
}
p,
span {
  font-size: calc(1.3rem + 0.5vw);
  line-height: calc(1.2em + 0.5vw);
  color: #424d37;
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 800px) {
  main {
    width: 100%;
  }
}

// @font-face {
//   font-family: "Segoe UI Regular";
//   font-style: normal;
//   font-weight: normal;
//   src: url("Segoe\ UI.woff") format("woff");
// }
@font-face {
  font-family: "hebrew";
  font-style: normal;
  font-weight: normal;
  src: local("hebrew"),
    url("./assets/font/segoe-ui-regular-hebrew.woff") format("woff");
}
