* {
  direction: rtl;
  box-sizing: border-box;
  font-family: hebrew;
  line-height: 24px;
  margin: 0;
}
main {
  width: 70%;
  margin: 0 auto;
}
p,
span {
  font-size: calc(1rem + 0.5vw);
  line-height: calc(1.5em + 0.5vw);
}

a {
  text-decoration: none;
}

// li {
//   list-style-image: url(img/iphone.png);
// }

@media only screen and (max-width: 800px) {
  main {
    width: 100%;
  }
}

@font-face {
  font-family: "hebrew";
  font-style: normal;
  font-weight: normal;
  src: local("hebrew"),
    url("./assets/font/segoe-ui-regular-hebrew.woff") format("woff");
}

@font-face {
  font-family: "hebrew";
  font-style: normal;
  font-weight: 300;
  src: local("hebrew"),
    url("./assets/font/segoe-ui-light-hebrew.woff") format("woff");
}

@font-face {
  font-family: "hebrew";
  font-style: normal;
  font-weight: 600;
  src: local("hebrew"),
    url("./assets/font/segoe-ui-semibold-hebrew.woff") format("woff");
}
